<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<a href="index.html">Index link</a>
Hello it is first app!
</body>
</html>
